In [1]:
import time
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt



%matplotlib inline
pd.set_option('display.max_columns', 250)
pd.set_option('display.max_rows', 200)
pd.options.display.float_format = '{:20,.1f}'.format

In [2]:
ruta = "./../data/"

In [3]:
file1 = "netflixdataset.csv"

In [4]:
netflix = pd.read_csv(ruta + file1)

In [5]:
netflix.head(10)

   userId  movieId               rating   timestamp
0       1       31                  2.5  1260759144
1       1     1029                  3.0  1260759179
2       1     1061                  3.0  1260759182
3       1     1129                  2.0  1260759185
4       1     1172                  4.0  1260759205
5       1     1263                  2.0  1260759151
6       1     1287                  2.0  1260759187
7       1     1293                  2.0  1260759148
8       1     1339                  3.5  1260759125
9       1     1343                  2.0  1260759131

In [20]:
netflix.rating.value_counts()

4.0    28750
3.0    20064
5.0    15095
3.5    10538
4.5     7723
2.0     7271
2.5     4449
1.0     3326
1.5     1687
0.5     1101
Name: rating, dtype: int64

In [11]:
user = netflix.userId.value_counts().index

In [17]:
cantUser  = len(user)
cantUser

671

In [14]:
films = netflix.movieId.value_counts().index

In [15]:
Cantfilms = len(films)

In [16]:
Cantfilms

9066

In [9]:
ids = netflix.userId.value_counts().index

In [10]:
len(ids)

671

In [18]:
len(netflix)

100004

In [19]:
100004*4

400016

In [ ]:
#netflix
df, prefix=['col1', 'col2']

In [ ]:
 ## repasar y entender que hace este codigo!!!
gb = tmp_df[['id_caracteristica', 'id_bien','caracteristica']].groupby(['id_bien','id_caracteristica']).count()
gb['caracteristica'] = 1
tmp = gb.unstack()
tmp = tmp.fillna(0)
tmp.columns = tmp.columns.droplevel()
tmp = tmp.reset_index()

In [ ]:
gb = netflix[["userID","movieId"]]